@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker&display=swap');

/* @media (min-width: 992px) */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #737373;
    background: rgb(9, 119, 179);
}
a:hover {
    color: rgb(130, 189, 221);
    text-decoration: underline;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(65, 65, 255);
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #f1f1f1;
    background: black;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active:focus-within{
    background-color: rgb(65, 65, 255);
}
#mainNav .navbar-nav li.nav-item a.nav-link.active:visited{
    background-color: rgb(65, 65, 255);
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #0B0B0B;
}

.bg-primary{
    background-color:  black;
    margin-top: -180px;

}
/* .btn-primary{
    background-color: black;
} */
.bg-secondary {

    background-color: #F2F2F2 !important;
}
.masthead-heading{
    font-family: "Permanent Marker" !important;
}
.masthead-subheading{
    font-family: "Lato" !important;
}
.masthead{
    padding-top: 0 !important;
    padding-bottom: 30rem;
}

h2{
    font-family: "Lato" !important;
    margin-top: 340px;

}
.row{
    justify-content: center;
}
.text-secondary{
    color: rgb(0, 0, 0) !important;
}
.me_photo{
    border-radius: .5em;
    object-fit: contain;
}
.videoDiv{
    /* box-shadow: 10px 5px 5px red; */


}
#video{
    margin-top: 7rem;
}



.portfolio .portfolio-item .portfolio-item-caption {
    /* padding-top: 4rem; */
    
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;

}
.portfolio{
    background-color: rgb(50, 50, 197);
    /* padding-bottom: 6rem !important; */


}
.section_1{
    padding-bottom: 20rem;
}
.section_3{
    margin-top: 0rem;
    background-color: rgb(50, 50, 197);
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: rgb(65, 65, 255)!important;
    color: rgb(95, 88, 163)  !important;
}
#sendMessageButton{
    background-color: #262626;
    border-color: rgb(9, 119, 179) ;
}
#sendMessageButton:hover{
    background-color:  rgb(9, 119, 179) ;
    border-color: #262626;
}
a {
    color: #262626 ;
}

.footer{
    background-color: rgb(0, 0, 0)!important;;
}
.copyright{
    background-color: black!important;
}