@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker&display=swap');

.bg-primary{
    background-color: black;
}
.bg-secondary {
    background-color: rgb(255, 25, 41) !important;
}
.masthead-heading{
    font-family: "Permanent Marker" !important;
}
.masthead-subheading{
    font-family: "Lato" !important;
}
h2{
    font-family: "Lato" !important;
}
.row{
    justify-content: center;
}
.text-secondary{
    color: rgb(9, 119, 179) !important;
}
.me_photo{
    border-radius: .5em;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(9, 119, 179, 0.4);
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #FFFA33 !important;
    color: black !important;
}